$open-sans: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$primary-color: #222;
$secondary-color: #0f0; // #eece1a
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.7;
